body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightskyblue;
}

.h1{
    border: 1px solid lightskyblue;
}

.container {
    border: 2px solid black;
    padding: 20px;
}